# Python
__pycache__
*.pyc
*.egg-info

# Log
*.log
*.log.*
*.json
*.jsonl

# Editor
.idea
*.swp

.ipynb_checkpoints
*.ipynb
*.sh
*.err
*.png
*.csv
log*

# Other
.DS_Store
.vscode
data/*/videos
results/
tools/
model_zoo/